numpy >= 1.26         # numerical python
pandas >= 2.2         # data frames
jupyterlab >= 4.1     # jupyter notebooks
matplotlib >= 3.8     # visualisations
seaborn >= 0.13       # statistical visualisations
ipympl >= 0.9         # matplotlib widgets
pyprojroot >= 0.3     # project root folder
black >= 24.2         # formatting
nbqa >= 1.7           # notebook quality assurance